/* Global Styles */
html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

/* Container Styles */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Points Display */
#points {
    border: 3px solid black;
    color: black;
    width: 100px;
    padding-left: 10px;
    border-radius: 15px;
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 2em;
    font-weight: 900;
}

/* Instruction Styles */
#instruction {
    position: absolute;
    top: 12em;
    font-weight: 600;
    font-size: 1.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    transition: opacity 2s;
}

/* Restart Button Styles */
#restart {
    width: 120px;
    height: 50px;
    position: absolute;
    border-radius: 20px;
    color: white;
    background-color: black;
    border: none;
    font-weight: 700;
    font-size: 1.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: none;
    cursor: pointer;
}

/* Bonus Display Styles */
#bonus {
    position: absolute;
    opacity: 0;
    transition: opacity 2s;
    font-size: 3em;
}